.comment--wrapper .comment--email {
    font-size: 12px;
    font-weight: 600;
}
.comment--wrapper .comment-content {
    text-indent: 10px;
    font-size: 14px;
    font-weight: 200;
    font-family: inherit;
}
.comment--wrapper .comment-content::first-letter {
    text-transform: uppercase;
    font-size: 150%;
}
.comment--wrapper{
    box-shadow: 0 0 2px 0 #ccc;
    margin: 0 10px;
}